/* Основные цвета */
:root {
    --primaryColor: #0e6253;
    --secondaryColor: #ffc107;
    --whiteColor: #ffff;
    --blackColor: #222;
    --softGreyColor: #d9f2ee;
    --darkGreyColor: #a7a7a7;
    --greyColor: #f5f5f5;
}

/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

/* Основной стиль страницы */
body {
    background-color: var(--softGreyColor);
    color: var(--blackColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px; /* Добавлено пространство для отступов */
}

/* Шапка */
header {
    margin-bottom: 30px;
}

h1 {
    color: var(--primaryColor);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* Основной контент */
main {
    background-color: var(--whiteColor);
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Обеспечивает выравнивание по центру */
}

/* Параграфы */
p {
    color: var(--blackColor);
    font-size: 18px;
    margin-bottom: 20px;
}

/* Кнопка */
.btn {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    padding: 12px 25px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--secondaryColor);
    color: var(--blackColor);
}

/* Подвал */
footer {
    margin-top: 30px;
    font-size: 14px;
    color: var(--darkGreyColor);
}

footer p {
    margin-top: 10px;
}
